In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import pickle

In [2]:
dataset = pd.read_csv('hiring.csv')

In [6]:
dataset.head()

  experience  test_score  interview_score  salary
0          0         8.0                9   50000
1          0         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000

In [3]:
dataset['experience'].fillna(0,inplace=True)

In [4]:
dataset['test_score'].fillna(dataset['test_score'].mean(),inplace=True)

In [5]:
X=dataset.iloc[:,:3]

In [7]:
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

In [8]:
X['experience']=X['experience'].apply(lambda x:convert_to_int(x))

In [9]:
y=dataset.iloc[:,-1]

In [10]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

In [11]:
regressor.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
pickle.dump(regressor,open('model.pkl','wb'))

In [13]:
model=pickle.load(open('model.pkl','rb'))
print(model.predict([[2,9,6]]))

[53290.89255945]