In [74]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import pickle

In [75]:
df = pd.read_csv('train.csv')

In [76]:
df.drop(columns = 'Cabin' , inplace = True)

In [77]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [78]:
df['Embarked'].fillna('S' , inplace = True)

In [79]:
def func(cols):
    Pclass = cols[0]
    Age = cols[1]
    if pd.isnull(Age):
        if Pclass == 1:
            return 38
        elif Pclass == 2:
            return 29
        else:
            return 25
    else:
        return Age

In [80]:
df['Age'] = df[['Pclass' , 'Age']].apply(func, axis = 1)

In [81]:
df.drop(columns = ['PassengerId' , 'Name' , 'Ticket'] , inplace = True)

In [82]:
df = pd.get_dummies(data = df , columns = ['Sex'] , drop_first= True)

In [83]:
from sklearn.preprocessing import LabelEncoder

In [84]:
Encoder = LabelEncoder()

In [85]:
df['Embarked'] = Encoder.fit_transform(df['Embarked'])

In [86]:
df.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  Embarked  Sex_male
0         0       3  22.0      1      0   7.2500         2         1
1         1       1  38.0      1      0  71.2833         0         0
2         1       3  26.0      0      0   7.9250         2         0
3         1       1  35.0      1      0  53.1000         2         0
4         0       3  35.0      0      0   8.0500         2         1

In [87]:
X = df.drop(columns = 'Survived')

In [88]:
y = df['Survived'].values

In [89]:
from sklearn.model_selection import train_test_split

In [90]:
 X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=101)

In [91]:
# import xgboost as xgb

In [92]:
#Dmat = xgb.DMatrix(X , label = y)

In [93]:
# xgb_reg = xgb.XGBClassifier()

In [94]:
# xgb_reg.fit(X_train , y_train)

In [95]:
# pre = xgb_reg.predict(X_test)

In [96]:
# from sklearn.metrics import confusion_matrix , classification_report

In [97]:
# print(classification_report(y_test , pre))

In [98]:
# X_train.head()

In [99]:
# pickle.dump(xgb_reg,open('model.pkl','wb'))

In [123]:
from sklearn.ensemble import RandomForestClassifier

In [124]:
regressor = RandomForestClassifier()

In [125]:
regressor.fit(X_train , y_train)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [126]:
predict = regressor.predict(X_test)

In [127]:
print(classification_report(y_test , predict))

              precision    recall  f1-score   support

           0       0.77      0.88      0.82       154
           1       0.80      0.65      0.71       114

    accuracy                           0.78       268
   macro avg       0.78      0.76      0.77       268
weighted avg       0.78      0.78      0.78       268

In [128]:
pickle.dump(regressor,open('model.pkl','wb'))

In [129]:
model=pickle.load(open('model.pkl','rb'))
print(model.predict([[2,30.0,1,0,50.0,2,1]]))

[0]